#gridPane .button {
    -fx-text-fill: green;
    -fx-font-size: 16px;
}

#closeBtn.button {
    -fx-text-fill: red;
}




#nameRegion {
	-fx-padding: 10;
	-fx-border-style: solid inside;
	-fx-border-width: 1;
	-fx-border-insets: 5;
	-fx-border-radius: 5;
	-fx-border-color: darkgrey;
        -fx-text-fill: red;
        -fx-font-size: 12px;
}

#login_view {
	-fx-padding: 10;
	-fx-border-style: solid inside;
	-fx-border-width: 1;
	-fx-border-insets: 5;
	-fx-border-radius: 5;
	-fx-border-color: green;
        -fx-text-fill: red;
        -fx-font-size: 11px;
}

#nameRegion .button {
    -fx-text-fill: black;
    -fx-background-color: white;

    -fx-font-size: 10px;
}
.accordion {
	-fx-padding: 20;
	-fx-border-style: solid inside;
	-fx-border-width: 1;
	-fx-border-insets: 2;
	-fx-border-radius: 5;
	-fx-border-color: gray;
}
.accordion > .titled-pane > .title {
 	//-fx-background-color: burlywood;
      
}
 
 
.accordion > .first-titled-pane > .title {
    	//-fx-background-color: derive(red, 80%); 
 	//-fx-background-insets: 1;
}

.table-cell {
    -fx-alignment: CENTER;

    -fx-skin: "com.sun.javafx.scene.control.skin.TableCellSkin";
    -fx-padding: 5px;

    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-table-cell-border-color transparent transparent;
    -fx-border-width:  0px; 
    -fx-cell-size:  25px; 
    -fx-text-fill: -fx-text-inner-color;    
}

.table-row-cell:selected {
   -fx-background-color: lightgray; 
   -fx-text-fill: white;    
}

#actor_panel {
	-fx-padding: 10;
	-fx-border-style: solid inside;
	-fx-border-width: 1;
	-fx-border-insets: 5;
	-fx-border-radius: 5;
	-fx-border-color: darkgrey;
        -fx-text-fill: red;
        -fx-font-size: 11px;
}